### Source & Compiled files

*.pyc
*.pyd
*.so
*.o
*.c

### Storage files

*.pickle
*.npy

### Temporary files

.*

### Build directories

dist/
build/
doc/build/
__pycache__/
bgd.egg-info/

### Misc

*.pptx

