### Source & Compiled files

*.pyc
*.pyd
*.so
*.o
*.c

### Storage files

*.pickle
*.npy

### Temporary files

.*
!*.yml

### Build directories

dist/
build/
__pycache__/
bgd.egg-info/

### Doc

doc/source/*
!doc/source/*.rst
!doc/source/conf.py

### Misc

*.pptx

